/crap and crud/gpt2-jinvithoughts/
/crap and crud/
crap and crud/cached_lm_GPT2Tokenizer_64_jinvithoughts_flat.txt
crap and crud/cached_lm_GPT2Tokenizer_64_jinvithoughts_flat.txt.lock
cached_lm_GPT2Tokenizer_64_jinvithoughts_flat.txt
cached_lm_GPT2Tokenizer_64_jinvithoughts_flat.txt.lock


/generator/model/

/bot/DiaBotImport/.gradle/
/bot/DiaBotImport/build/
/bot/DiaBotImport/.idea/


### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

